{"swagger": "2.0", "info": {"title": "QueueMe API", "description": "REST API for QueueMe", "termsOfService": "https://www.google.com/policies/terms/", "contact": {"email": "support@queueme.net"}, "license": {"name": "BSD License"}, "version": "v1"}, "host": "api.queueme.net", "schemes": ["https"], "basePath": "/api", "consumes": ["application/json"], "produces": ["application/json"], "securityDefinitions": {"Basic": {"type": "basic"}}, "security": [{"Basic": []}], "paths": {"/v1/": {"get": {"operationId": "v1_list", "summary": "The Queue Me Platform API root.", "description": "This endpoint provides links to all major API endpoints.", "parameters": [], "responses": {"200": {"description": ""}}, "tags": ["v1"]}, "parameters": []}, "/v1/analytics/anomalies/": {"get": {"operationId": "v1_analytics_anomalies_list", "summary": "User Management - List all objects", "description": "API endpoints for user management and administration", "parameters": [{"name": "entity_type", "in": "query", "description": "entity_type", "required": false, "type": "string", "enum": ["shop", "specialist", "service", "platform"]}, {"name": "entity_type__in", "in": "query", "description": "entity_type__in", "required": false, "type": "string"}, {"name": "entity_id", "in": "query", "description": "entity_id", "required": false, "type": "string"}, {"name": "metric_type", "in": "query", "description": "metric_type", "required": false, "type": "string", "enum": ["booking_volume", "revenue", "cancellation_rate", "no_show_rate", "rating", "wait_time", "utilization", "other"]}, {"name": "metric_type__in", "in": "query", "description": "metric_type__in", "required": false, "type": "string"}, {"name": "severity", "in": "query", "description": "severity", "required": false, "type": "string", "enum": ["low", "medium", "high"]}, {"name": "severity__in", "in": "query", "description": "severity__in", "required": false, "type": "string"}, {"name": "detection_date", "in": "query", "description": "detection_date", "required": false, "type": "string"}, {"name": "is_acknowledged", "in": "query", "description": "is_acknowledged", "required": false, "type": "string"}, {"name": "acknowledged_by", "in": "query", "description": "acknowledged_by", "required": false, "type": "string"}, {"name": "detected_after", "in": "query", "description": "detected_after", "required": false, "type": "string"}, {"name": "detected_before", "in": "query", "description": "detected_before", "required": false, "type": "string"}, {"name": "acknowledged_only", "in": "query", "description": "acknowledged_only", "required": false, "type": "string"}, {"name": "unacknowledged_only", "in": "query", "description": "unacknowledged_only", "required": false, "type": "string"}, {"name": "ordering", "in": "query", "description": "Which field to use when ordering the results.", "required": false, "type": "string"}], "responses": {"200": {"description": "", "schema": {"type": "array", "items": {"$ref": "#/definitions/AnomalyDetection"}}}}, "tags": ["User Management"]}, "parameters": []}, "/v1/analytics/anomalies/{id}/": {"get": {"operationId": "v1_analytics_anomalies_read", "summary": "User Management - Get a specific object by ID", "description": "API endpoints for user management and administration", "parameters": [], "responses": {"200": {"description": "", "schema": {"$ref": "#/definitions/AnomalyDetection"}}}, "tags": ["User Management"]}, "parameters": [{"name": "id", "in": "path", "description": "A UUID string identifying this Anomaly Detection.", "required": true, "type": "string", "format": "uuid"}]}, "/v1/analytics/anomalies/{id}/acknowledge/": {"post": {"operationId": "v1_analytics_anomalies_acknowledge", "description": "Anomaly detection API endpoints", "parameters": [{"name": "data", "in": "body", "required": true, "schema": {"$ref": "#/definitions/AnomalyDetection"}}], "responses": {"201": {"description": "", "schema": {"$ref": "#/definitions/AnomalyDetection"}}}, "tags": ["v1"]}, "parameters": [{"name": "id", "in": "path", "description": "A UUID string identifying this Anomaly Detection.", "required": true, "type": "string", "format": "uuid"}]}, "/v1/analytics/dashboard/platform_metrics/": {"get": {"operationId": "v1_analytics_dashboard_platform_metrics", "description": "Dashboard API endpoints for analytics dashboards", "parameters": [], "responses": {"200": {"description": ""}}, "tags": ["v1"]}, "parameters": []}, "/v1/analytics/dashboard/shop_metrics/": {"get": {"operationId": "v1_analytics_dashboard_shop_metrics", "description": "Dashboard API endpoints for analytics dashboards", "parameters": [], "responses": {"200": {"description": ""}}, "tags": ["v1"]}, "parameters": []}, "/v1/analytics/dashboard/specialist_metrics/": {"get": {"operationId": "v1_analytics_dashboard_specialist_metrics", "description": "Dashboard API endpoints for analytics dashboards", "parameters": [], "responses": {"200": {"description": ""}}, "tags": ["v1"]}, "parameters": []}, "/v1/analytics/report-executions/": {"get": {"operationId": "v1_analytics_report-executions_list", "summary": "User Management - List all objects", "description": "API endpoints for user management and administration", "parameters": [{"name": "report_type", "in": "query", "description": "report_type", "required": false, "type": "string"}, {"name": "report_type__in", "in": "query", "description": "report_type__in", "required": false, "type": "string"}, {"name": "status", "in": "query", "description": "status", "required": false, "type": "string", "enum": ["pending", "running", "completed", "failed"]}, {"name": "status__in", "in": "query", "description": "status__in", "required": false, "type": "string"}, {"name": "created_by", "in": "query", "description": "created_by", "required": false, "type": "string"}, {"name": "scheduled_report", "in": "query", "description": "scheduled_report", "required": false, "type": "string"}, {"name": "scheduled_report__isnull", "in": "query", "description": "scheduled_report__isnull", "required": false, "type": "string"}, {"name": "created_after", "in": "query", "description": "created_after", "required": false, "type": "string"}, {"name": "created_before", "in": "query", "description": "created_before", "required": false, "type": "string"}, {"name": "ordering", "in": "query", "description": "Which field to use when ordering the results.", "required": false, "type": "string"}, {"name": "search", "in": "query", "description": "A search term.", "required": false, "type": "string"}], "responses": {"200": {"description": "", "schema": {"type": "array", "items": {"$ref": "#/definitions/ReportExecution"}}}}, "tags": ["User Management"]}, "post": {"operationId": "v1_analytics_report-executions_create", "description": "Report execution API endpoints", "parameters": [{"name": "data", "in": "body", "required": true, "schema": {"$ref": "#/definitions/ReportExecution"}}], "responses": {"201": {"description": "", "schema": {"$ref": "#/definitions/ReportExecution"}}}, "tags": ["v1"]}, "parameters": []}, "/v1/analytics/report-executions/{id}/": {"get": {"operationId": "v1_analytics_report-executions_read", "summary": "User Management - Get a specific object by ID", "description": "API endpoints for user management and administration", "parameters": [], "responses": {"200": {"description": "", "schema": {"$ref": "#/definitions/ReportExecution"}}}, "tags": ["User Management"]}, "delete": {"operationId": "v1_analytics_report-executions_delete", "summary": "User Management - Delete an object", "description": "API endpoints for user management and administration", "parameters": [], "responses": {"204": {"description": ""}}, "tags": ["User Management"]}, "parameters": [{"name": "id", "in": "path", "description": "A UUID string identifying this Report Execution.", "required": true, "type": "string", "format": "uuid"}]}, "/v1/analytics/report-executions/{id}/download/": {"get": {"operationId": "v1_analytics_report-executions_download", "description": "Report execution API endpoints", "parameters": [], "responses": {"200": {"description": "", "schema": {"$ref": "#/definitions/ReportExecution"}}}, "tags": ["v1"]}, "parameters": [{"name": "id", "in": "path", "description": "A UUID string identifying this Report Execution.", "required": true, "type": "string", "format": "uuid"}]}, "/v1/analytics/scheduled-reports/": {"get": {"operationId": "v1_analytics_scheduled-reports_list", "summary": "User Management - List all objects", "description": "API endpoints for user management and administration", "parameters": [{"name": "report_type", "in": "query", "description": "report_type", "required": false, "type": "string", "enum": ["shop_performance", "specialist_performance", "bookings_summary", "revenue_summary", "custom"]}, {"name": "report_type__in", "in": "query", "description": "report_type__in", "required": false, "type": "string"}, {"name": "frequency", "in": "query", "description": "frequency", "required": false, "type": "string", "enum": ["daily", "weekly", "monthly", "quarterly"]}, {"name": "frequency__in", "in": "query", "description": "frequency__in", "required": false, "type": "string"}, {"name": "is_active", "in": "query", "description": "is_active", "required": false, "type": "string"}, {"name": "created_by", "in": "query", "description": "created_by", "required": false, "type": "string"}, {"name": "recipient_type", "in": "query", "description": "recipient_type", "required": false, "type": "string", "enum": ["user", "shop", "email"]}, {"name": "recipient_user", "in": "query", "description": "recipient_user", "required": false, "type": "string"}, {"name": "recipient_shop", "in": "query", "description": "recipient_shop", "required": false, "type": "string"}, {"name": "created_after", "in": "query", "description": "created_after", "required": false, "type": "string"}, {"name": "created_before", "in": "query", "description": "created_before", "required": false, "type": "string"}, {"name": "next_run_before", "in": "query", "description": "next_run_before", "required": false, "type": "string"}, {"name": "ordering", "in": "query", "description": "Which field to use when ordering the results.", "required": false, "type": "string"}, {"name": "search", "in": "query", "description": "A search term.", "required": false, "type": "string"}], "responses": {"200": {"description": "", "schema": {"type": "array", "items": {"$ref": "#/definitions/ReportAnalyticsApp_ScheduledReportSerializer"}}}}, "tags": ["User Management"]}, "post": {"operationId": "v1_analytics_scheduled-reports_create", "summary": "User Management - Create a new object", "description": "API endpoints for user management and administration", "parameters": [{"name": "data", "in": "body", "required": true, "schema": {"$ref": "#/definitions/ReportAnalyticsApp_ScheduledReportSerializer"}}], "responses": {"201": {"description": "", "schema": {"$ref": "#/definitions/ReportAnalyticsApp_ScheduledReportSerializer"}}}, "tags": ["User Management"]}, "parameters": []}, "/v1/analytics/scheduled-reports/{id}/": {"get": {"operationId": "v1_analytics_scheduled-reports_read", "summary": "User Management - Get a specific object by ID", "description": "API endpoints for user management and administration", "parameters": [], "responses": {"200": {"description": "", "schema": {"$ref": "#/definitions/ReportAnalyticsApp_ScheduledReportSerializer"}}}, "tags": ["User Management"]}, "put": {"operationId": "v1_analytics_scheduled-reports_update", "summary": "User Management - Update an object (full update)", "description": "API endpoints for user management and administration", "parameters": [{"name": "data", "in": "body", "required": true, "schema": {"$ref": "#/definitions/ReportAnalyticsApp_ScheduledReportSerializer"}}], "responses": {"200": {"description": "", "schema": {"$ref": "#/definitions/ReportAnalyticsApp_ScheduledReportSerializer"}}}, "tags": ["User Management"]}, "patch": {"operationId": "v1_analytics_scheduled-reports_partial_update", "summary": "User Management - Update an object (partial update)", "description": "API endpoints for user management and administration", "parameters": [{"name": "data", "in": "body", "required": true, "schema": {"$ref": "#/definitions/ReportAnalyticsApp_ScheduledReportSerializer"}}], "responses": {"200": {"description": "", "schema": {"$ref": "#/definitions/ReportAnalyticsApp_ScheduledReportSerializer"}}}, "tags": ["User Management"]}, "delete": {"operationId": "v1_analytics_scheduled-reports_delete", "summary": "User Management - Delete an object", "description": "API endpoints for user management and administration", "parameters": [], "responses": {"204": {"description": ""}}, "tags": ["User Management"]}, "parameters": [{"name": "id", "in": "path", "description": "A UUID string identifying this Scheduled Report.", "required": true, "type": "string", "format": "uuid"}]}, "/v1/analytics/scheduled-reports/{id}/run_now/": {"post": {"operationId": "v1_analytics_scheduled-reports_run_now", "description": "Scheduled report API endpoints", "parameters": [{"name": "data", "in": "body", "required": true, "schema": {"$ref": "#/definitions/ReportAnalyticsApp_ScheduledReportSerializer"}}], "responses": {"201": {"description": "", "schema": {"$ref": "#/definitions/ReportAnalyticsApp_ScheduledReportSerializer"}}}, "tags": ["v1"]}, "parameters": [{"name": "id", "in": "path", "description": "A UUID string identifying this Scheduled Report.", "required": true, "type": "string", "format": "uuid"}]}, "/v1/analytics/shop-analytics/": {"get": {"operationId": "v1_analytics_shop-analytics_list", "summary": "User Management - List all objects", "description": "API endpoints for user management and administration", "parameters": [{"name": "shop", "in": "query", "description": "shop", "required": false, "type": "string"}, {"name": "date", "in": "query", "description": "date", "required": false, "type": "string"}, {"name": "date__year", "in": "query", "description": "date__year", "required": false, "type": "string"}, {"name": "date__month", "in": "query", "description": "date__month", "required": false, "type": "string"}, {"name": "total_bookings", "in": "query", "description": "total_bookings", "required": false, "type": "string"}, {"name": "total_bookings__lt", "in": "query", "description": "total_bookings__lt", "required": false, "type": "string"}, {"name": "total_bookings__gt", "in": "query", "description": "total_bookings__gt", "required": false, "type": "string"}, {"name": "bookings_completed", "in": "query", "description": "bookings_completed", "required": false, "type": "string"}, {"name": "bookings_completed__lt", "in": "query", "description": "bookings_completed__lt", "required": false, "type": "string"}, {"name": "bookings_completed__gt", "in": "query", "description": "bookings_completed__gt", "required": false, "type": "string"}, {"name": "total_revenue", "in": "query", "description": "total_revenue", "required": false, "type": "string"}, {"name": "total_revenue__lt", "in": "query", "description": "total_revenue__lt", "required": false, "type": "string"}, {"name": "total_revenue__gt", "in": "query", "description": "total_revenue__gt", "required": false, "type": "string"}, {"name": "customer_ratings", "in": "query", "description": "customer_ratings", "required": false, "type": "string"}, {"name": "customer_ratings__lt", "in": "query", "description": "customer_ratings__lt", "required": false, "type": "string"}, {"name": "customer_ratings__gt", "in": "query", "description": "customer_ratings__gt", "required": false, "type": "string"}, {"name": "start_date", "in": "query", "description": "start_date", "required": false, "type": "string"}, {"name": "end_date", "in": "query", "description": "end_date", "required": false, "type": "string"}, {"name": "min_bookings", "in": "query", "description": "min_bookings", "required": false, "type": "string"}, {"name": "min_revenue", "in": "query", "description": "min_revenue", "required": false, "type": "string"}, {"name": "min_rating", "in": "query", "description": "min_rating", "required": false, "type": "string"}, {"name": "ordering", "in": "query", "description": "Which field to use when ordering the results.", "required": false, "type": "string"}], "responses": {"200": {"description": "", "schema": {"type": "array", "items": {"$ref": "#/definitions/ShopAnalytics"}}}}, "tags": ["User Management"]}, "parameters": []}, "/v1/analytics/shop-analytics/booking_trends/": {"get": {"operationId": "v1_analytics_shop-analytics_booking_trends", "description": "Shop analytics API endpoints for Queue Me platform", "parameters": [{"name": "shop", "in": "query", "description": "shop", "required": false, "type": "string"}, {"name": "date", "in": "query", "description": "date", "required": false, "type": "string"}, {"name": "date__year", "in": "query", "description": "date__year", "required": false, "type": "string"}, {"name": "date__month", "in": "query", "description": "date__month", "required": false, "type": "string"}, {"name": "total_bookings", "in": "query", "description": "total_bookings", "required": false, "type": "string"}, {"name": "total_bookings__lt", "in": "query", "description": "total_bookings__lt", "required": false, "type": "string"}, {"name": "total_bookings__gt", "in": "query", "description": "total_bookings__gt", "required": false, "type": "string"}, {"name": "bookings_completed", "in": "query", "description": "bookings_completed", "required": false, "type": "string"}, {"name": "bookings_completed__lt", "in": "query", "description": "bookings_completed__lt", "required": false, "type": "string"}, {"name": "bookings_completed__gt", "in": "query", "description": "bookings_completed__gt", "required": false, "type": "string"}, {"name": "total_revenue", "in": "query", "description": "total_revenue", "required": false, "type": "string"}, {"name": "total_revenue__lt", "in": "query", "description": "total_revenue__lt", "required": false, "type": "string"}, {"name": "total_revenue__gt", "in": "query", "description": "total_revenue__gt", "required": false, "type": "string"}, {"name": "customer_ratings", "in": "query", "description": "customer_ratings", "required": false, "type": "string"}, {"name": "customer_ratings__lt", "in": "query", "description": "customer_ratings__lt", "required": false, "type": "string"}, {"name": "customer_ratings__gt", "in": "query", "description": "customer_ratings__gt", "required": false, "type": "string"}, {"name": "start_date", "in": "query", "description": "start_date", "required": false, "type": "string"}, {"name": "end_date", "in": "query", "description": "end_date", "required": false, "type": "string"}, {"name": "min_bookings", "in": "query", "description": "min_bookings", "required": false, "type": "string"}, {"name": "min_revenue", "in": "query", "description": "min_revenue", "required": false, "type": "string"}, {"name": "min_rating", "in": "query", "description": "min_rating", "required": false, "type": "string"}, {"name": "ordering", "in": "query", "description": "Which field to use when ordering the results.", "required": false, "type": "string"}], "responses": {"200": {"description": "", "schema": {"type": "array", "items": {"$ref": "#/definitions/ShopAnalytics"}}}}, "tags": ["v1"]}, "parameters": []}, "/v1/analytics/shop-analytics/revenue_summary/": {"get": {"operationId": "v1_analytics_shop-analytics_revenue_summary", "description": "Shop analytics API endpoints for Queue Me platform", "parameters": [{"name": "shop", "in": "query", "description": "shop", "required": false, "type": "string"}, {"name": "date", "in": "query", "description": "date", "required": false, "type": "string"}, {"name": "date__year", "in": "query", "description": "date__year", "required": false, "type": "string"}, {"name": "date__month", "in": "query", "description": "date__month", "required": false, "type": "string"}, {"name": "total_bookings", "in": "query", "description": "total_bookings", "required": false, "type": "string"}, {"name": "total_bookings__lt", "in": "query", "description": "total_bookings__lt", "required": false, "type": "string"}, {"name": "total_bookings__gt", "in": "query", "description": "total_bookings__gt", "required": false, "type": "string"}, {"name": "bookings_completed", "in": "query", "description": "bookings_completed", "required": false, "type": "string"}, {"name": "bookings_completed__lt", "in": "query", "description": "bookings_completed__lt", "required": false, "type": "string"}, {"name": "bookings_completed__gt", "in": "query", "description": "bookings_completed__gt", "required": false, "type": "string"}, {"name": "total_revenue", "in": "query", "description": "total_revenue", "required": false, "type": "string"}, {"name": "total_revenue__lt", "in": "query", "description": "total_revenue__lt", "required": false, "type": "string"}, {"name": "total_revenue__gt", "in": "query", "description": "total_revenue__gt", "required": false, "type": "string"}, {"name": "customer_ratings", "in": "query", "description": "customer_ratings", "required": false, "type": "string"}, {"name": "customer_ratings__lt", "in": "query", "description": "customer_ratings__lt", "required": false, "type": "string"}, {"name": "customer_ratings__gt", "in": "query", "description": "customer_ratings__gt", "required": false, "type": "string"}, {"name": "start_date", "in": "query", "description": "start_date", "required": false, "type": "string"}, {"name": "end_date", "in": "query", "description": "end_date", "required": false, "type": "string"}, {"name": "min_bookings", "in": "query", "description": "min_bookings", "required": false, "type": "string"}, {"name": "min_revenue", "in": "query", "description": "min_revenue", "required": false, "type": "string"}, {"name": "min_rating", "in": "query", "description": "min_rating", "required": false, "type": "string"}, {"name": "ordering", "in": "query", "description": "Which field to use when ordering the results.", "required": false, "type": "string"}], "responses": {"200": {"description": "", "schema": {"type": "array", "items": {"$ref": "#/definitions/ShopAnalytics"}}}}, "tags": ["v1"]}, "parameters": []}, "/v1/analytics/shop-analytics/{id}/": {"get": {"operationId": "v1_analytics_shop-analytics_read", "summary": "User Management - Get a specific object by ID", "description": "API endpoints for user management and administration", "parameters": [], "responses": {"200": {"description": "", "schema": {"$ref": "#/definitions/ShopAnalytics"}}}, "tags": ["User Management"]}, "parameters": [{"name": "id", "in": "path", "description": "A UUID string identifying this Shop Analytics.", "required": true, "type": "string", "format": "uuid"}]}, "/v1/analytics/specialist-analytics/": {"get": {"operationId": "v1_analytics_specialist-analytics_list", "summary": "User Management - List all objects", "description": "API endpoints for user management and administration", "parameters": [{"name": "specialist", "in": "query", "description": "specialist", "required": false, "type": "string"}, {"name": "date", "in": "query", "description": "date", "required": false, "type": "string"}, {"name": "date__year", "in": "query", "description": "date__year", "required": false, "type": "string"}, {"name": "date__month", "in": "query", "description": "date__month", "required": false, "type": "string"}, {"name": "total_bookings", "in": "query", "description": "total_bookings", "required": false, "type": "string"}, {"name": "total_bookings__lt", "in": "query", "description": "total_bookings__lt", "required": false, "type": "string"}, {"name": "total_bookings__gt", "in": "query", "description": "total_bookings__gt", "required": false, "type": "string"}, {"name": "bookings_completed", "in": "query", "description": "bookings_completed", "required": false, "type": "string"}, {"name": "bookings_completed__lt", "in": "query", "description": "bookings_completed__lt", "required": false, "type": "string"}, {"name": "bookings_completed__gt", "in": "query", "description": "bookings_completed__gt", "required": false, "type": "string"}, {"name": "customer_ratings", "in": "query", "description": "customer_ratings", "required": false, "type": "string"}, {"name": "customer_ratings__lt", "in": "query", "description": "customer_ratings__lt", "required": false, "type": "string"}, {"name": "customer_ratings__gt", "in": "query", "description": "customer_ratings__gt", "required": false, "type": "string"}, {"name": "utilization_rate", "in": "query", "description": "utilization_rate", "required": false, "type": "string"}, {"name": "utilization_rate__lt", "in": "query", "description": "utilization_rate__lt", "required": false, "type": "string"}, {"name": "utilization_rate__gt", "in": "query", "description": "utilization_rate__gt", "required": false, "type": "string"}, {"name": "start_date", "in": "query", "description": "start_date", "required": false, "type": "string"}, {"name": "end_date", "in": "query", "description": "end_date", "required": false, "type": "string"}, {"name": "min_bookings", "in": "query", "description": "min_bookings", "required": false, "type": "string"}, {"name": "min_rating", "in": "query", "description": "min_rating", "required": false, "type": "string"}, {"name": "shop", "in": "query", "description": "Shop ID", "required": false, "type": "string"}, {"name": "ordering", "in": "query", "description": "Which field to use when ordering the results.", "required": false, "type": "string"}], "responses": {"200": {"description": "", "schema": {"type": "array", "items": {"$ref": "#/definitions/SpecialistAnalytics"}}}}, "tags": ["User Management"]}, "parameters": []}, "/v1/analytics/specialist-analytics/performance_comparison/": {"get": {"operationId": "v1_analytics_specialist-analytics_performance_comparison", "description": "Specialist analytics API endpoints", "parameters": [{"name": "specialist", "in": "query", "description": "specialist", "required": false, "type": "string"}, {"name": "date", "in": "query", "description": "date", "required": false, "type": "string"}, {"name": "date__year", "in": "query", "description": "date__year", "required": false, "type": "string"}, {"name": "date__month", "in": "query", "description": "date__month", "required": false, "type": "string"}, {"name": "total_bookings", "in": "query", "description": "total_bookings", "required": false, "type": "string"}, {"name": "total_bookings__lt", "in": "query", "description": "total_bookings__lt", "required": false, "type": "string"}, {"name": "total_bookings__gt", "in": "query", "description": "total_bookings__gt", "required": false, "type": "string"}, {"name": "bookings_completed", "in": "query", "description": "bookings_completed", "required": false, "type": "string"}, {"name": "bookings_completed__lt", "in": "query", "description": "bookings_completed__lt", "required": false, "type": "string"}, {"name": "bookings_completed__gt", "in": "query", "description": "bookings_completed__gt", "required": false, "type": "string"}, {"name": "customer_ratings", "in": "query", "description": "customer_ratings", "required": false, "type": "string"}, {"name": "customer_ratings__lt", "in": "query", "description": "customer_ratings__lt", "required": false, "type": "string"}, {"name": "customer_ratings__gt", "in": "query", "description": "customer_ratings__gt", "required": false, "type": "string"}, {"name": "utilization_rate", "in": "query", "description": "utilization_rate", "required": false, "type": "string"}, {"name": "utilization_rate__lt", "in": "query", "description": "utilization_rate__lt", "required": false, "type": "string"}, {"name": "utilization_rate__gt", "in": "query", "description": "utilization_rate__gt", "required": false, "type": "string"}, {"name": "start_date", "in": "query", "description": "start_date", "required": false, "type": "string"}, {"name": "end_date", "in": "query", "description": "end_date", "required": false, "type": "string"}, {"name": "min_bookings", "in": "query", "description": "min_bookings", "required": false, "type": "string"}, {"name": "min_rating", "in": "query", "description": "min_rating", "required": false, "type": "string"}, {"name": "shop", "in": "query", "description": "Shop ID", "required": false, "type": "string"}, {"name": "ordering", "in": "query", "description": "Which field to use when ordering the results.", "required": false, "type": "string"}], "responses": {"200": {"description": "", "schema": {"type": "array", "items": {"$ref": "#/definitions/SpecialistAnalytics"}}}}, "tags": ["v1"]}, "parameters": []}, "/v1/analytics/specialist-analytics/{id}/": {"get": {"operationId": "v1_analytics_specialist-analytics_read", "summary": "User Management - Get a specific object by ID", "description": "API endpoints for user management and administration", "parameters": [], "responses": {"200": {"description": "", "schema": {"$ref": "#/definitions/SpecialistAnalytics"}}}, "tags": ["User Management"]}, "parameters": [{"name": "id", "in": "path", "description": "A UUID string identifying this Specialist Analytics.", "required": true, "type": "string", "format": "uuid"}]}, "/v1/appointments/": {"get": {"operationId": "v1_appointments_list", "summary": "User Management - List all objects", "description": "API endpoints for user management and administration", "parameters": [{"name": "status", "in": "query", "description": "status", "required": false, "type": "string"}, {"name": "payment_status", "in": "query", "description": "payment_status", "required": false, "type": "string"}, {"name": "start_date", "in": "query", "description": "start_date", "required": false, "type": "string"}, {"name": "end_date", "in": "query", "description": "end_date", "required": false, "type": "string"}, {"name": "customer", "in": "query", "description": "customer", "required": false, "type": "string"}, {"name": "shop", "in": "query", "description": "shop", "required": false, "type": "string"}, {"name": "service", "in": "query", "description": "service", "required": false, "type": "string"}, {"name": "specialist", "in": "query", "description": "specialist", "required": false, "type": "string"}, {"name": "today", "in": "query", "description": "today", "required": false, "type": "string"}, {"name": "upcoming", "in": "query", "description": "upcoming", "required": false, "type": "string"}, {"name": "past", "in": "query", "description": "past", "required": false, "type": "string"}, {"name": "this_week", "in": "query", "description": "this_week", "required": false, "type": "string"}, {"name": "this_month", "in": "query", "description": "this_month", "required": false, "type": "string"}, {"name": "statuses", "in": "query", "description": "statuses", "required": false, "type": "string", "enum": ["scheduled", "confirmed", "in_progress", "completed", "cancelled", "no_show"]}, {"name": "phone_number", "in": "query", "description": "phone_number", "required": false, "type": "string"}, {"name": "shop_name", "in": "query", "description": "shop_name", "required": false, "type": "string"}, {"name": "service_name", "in": "query", "description": "service_name", "required": false, "type": "string"}, {"name": "search", "in": "query", "description": "A search term.", "required": false, "type": "string"}, {"name": "ordering", "in": "query", "description": "Which field to use when ordering the results.", "required": false, "type": "string"}], "responses": {"200": {"description": "", "schema": {"type": "array", "items": {"$ref": "#/definitions/Appointment"}}}}, "tags": ["User Management"]}, "post": {"operationId": "v1_appointments_create", "summary": "Create an appointment", "description": "Book a new appointment with JSON schema validation", "parameters": [{"name": "data", "in": "body", "required": true, "schema": {"$ref": "#/definitions/Appointment"}}], "responses": {"201": {"description": "Created - Appointment booked successfully"}, "400": {"description": "Bad Request - Invalid data or validation error"}, "500": {"description": "Internal Server Error - Unexpected error"}}, "tags": ["Bookings", "Appointments"]}, "parameters": []}, "/v1/appointments/availability/": {"get": {"operationId": "v1_appointments_availability", "summary": "Check service availability", "description": "Get available time slots for a service on a specific date", "parameters": [{"name": "status", "in": "query", "description": "status", "required": false, "type": "string"}, {"name": "payment_status", "in": "query", "description": "payment_status", "required": false, "type": "string"}, {"name": "start_date", "in": "query", "description": "start_date", "required": false, "type": "string"}, {"name": "end_date", "in": "query", "description": "end_date", "required": false, "type": "string"}, {"name": "customer", "in": "query", "description": "customer", "required": false, "type": "string"}, {"name": "shop", "in": "query", "description": "shop", "required": false, "type": "string"}, {"name": "service", "in": "query", "description": "service", "required": false, "type": "string"}, {"name": "specialist", "in": "query", "description": "specialist", "required": false, "type": "string"}, {"name": "today", "in": "query", "description": "today", "required": false, "type": "string"}, {"name": "upcoming", "in": "query", "description": "upcoming", "required": false, "type": "string"}, {"name": "past", "in": "query", "description": "past", "required": false, "type": "string"}, {"name": "this_week", "in": "query", "description": "this_week", "required": false, "type": "string"}, {"name": "this_month", "in": "query", "description": "this_month", "required": false, "type": "string"}, {"name": "statuses", "in": "query", "description": "statuses", "required": false, "type": "string", "enum": ["scheduled", "confirmed", "in_progress", "completed", "cancelled", "no_show"]}, {"name": "phone_number", "in": "query", "description": "phone_number", "required": false, "type": "string"}, {"name": "shop_name", "in": "query", "description": "shop_name", "required": false, "type": "string"}, {"name": "service_name", "in": "query", "description": "service_name", "required": false, "type": "string"}, {"name": "search", "in": "query", "description": "A search term.", "required": false, "type": "string"}, {"name": "ordering", "in": "query", "description": "Which field to use when ordering the results.", "required": false, "type": "string"}, {"name": "service_id", "in": "query", "description": "Service ID to check availability for", "required": true, "type": "string"}, {"name": "date", "in": "query", "description": "Date to check availability for (YYYY-MM-DD)", "required": true, "type": "string"}], "responses": {"200": {"description": "Success - Returns available time slots"}, "400": {"description": "Bad Request - Missing parameters or invalid date"}}, "tags": ["Bookings", "Availability"]}, "parameters": []}, "/v1/appointments/recommend_specialist/": {"post": {"operationId": "v1_appointments_recommend_specialist", "summary": "Recommend a specialist", "description": "Get recommended specialist for a service and time slot based on preferences and availability", "parameters": [{"name": "data", "in": "body", "required": true, "schema": {"$ref": "#/definitions/Appointment"}}], "responses": {"200": {"description": "Success - Returns recommended specialist"}, "400": {"description": "Bad Request - Invalid data"}, "404": {"description": "Not Found - No specialists available"}}, "tags": ["Bookings", "Specialists", "Recommendations"]}, "parameters": []}, "/v1/appointments/specialists/": {"get": {"operationId": "v1_appointments_specialists", "summary": "Get available specialists", "description": "Find specialists available for a specific service, date and time range", "parameters": [{"name": "status", "in": "query", "description": "status", "required": false, "type": "string"}, {"name": "payment_status", "in": "query", "description": "payment_status", "required": false, "type": "string"}, {"name": "start_date", "in": "query", "description": "start_date", "required": false, "type": "string"}, {"name": "end_date", "in": "query", "description": "end_date", "required": false, "type": "string"}, {"name": "customer", "in": "query", "description": "customer", "required": false, "type": "string"}, {"name": "shop", "in": "query", "description": "shop", "required": false, "type": "string"}, {"name": "service", "in": "query", "description": "service", "required": false, "type": "string"}, {"name": "specialist", "in": "query", "description": "specialist", "required": false, "type": "string"}, {"name": "today", "in": "query", "description": "today", "required": false, "type": "string"}, {"name": "upcoming", "in": "query", "description": "upcoming", "required": false, "type": "string"}, {"name": "past", "in": "query", "description": "past", "required": false, "type": "string"}, {"name": "this_week", "in": "query", "description": "this_week", "required": false, "type": "string"}, {"name": "this_month", "in": "query", "description": "this_month", "required": false, "type": "string"}, {"name": "statuses", "in": "query", "description": "statuses", "required": false, "type": "string", "enum": ["scheduled", "confirmed", "in_progress", "completed", "cancelled", "no_show"]}, {"name": "phone_number", "in": "query", "description": "phone_number", "required": false, "type": "string"}, {"name": "shop_name", "in": "query", "description": "shop_name", "required": false, "type": "string"}, {"name": "service_name", "in": "query", "description": "service_name", "required": false, "type": "string"}, {"name": "search", "in": "query", "description": "A search term.", "required": false, "type": "string"}, {"name": "ordering", "in": "query", "description": "Which field to use when ordering the results.", "required": false, "type": "string"}, {"name": "service_id", "in": "query", "description": "Service ID to find specialists for", "required": true, "type": "string"}, {"name": "date", "in": "query", "description": "Date to check availability for (YYYY-MM-DD)", "required": true, "type": "string"}, {"name": "start_time", "in": "query", "description": "Start time (HH:MM)", "required": true, "type": "string"}, {"name": "end_time", "in": "query", "description": "End time (HH:MM)", "required": true, "type": "string"}], "responses": {"200": {"description": "Success - Returns list of available specialists"}, "400": {"description": "Bad Request - Missing parameters or invalid date/time"}}, "tags": ["Bookings", "Specialists", "Availability"]}, "parameters": []}, "/v1/appointments/{id}/": {"get": {"operationId": "v1_appointments_read", "summary": "User Management - Get a specific object by ID", "description": "API endpoints for user management and administration", "parameters": [], "responses": {"200": {"description": "", "schema": {"$ref": "#/definitions/Appointment"}}}, "tags": ["User Management"]}, "put": {"operationId": "v1_appointments_update", "summary": "User Management - Update an object (full update)", "description": "API endpoints for user management and administration", "parameters": [{"name": "data", "in": "body", "required": true, "schema": {"$ref": "#/definitions/Appointment"}}], "responses": {"200": {"description": "", "schema": {"$ref": "#/definitions/Appointment"}}}, "tags": ["User Management"]}, "patch": {"operationId": "v1_appointments_partial_update", "summary": "User Management - Update an object (partial update)", "description": "API endpoints for user management and administration", "parameters": [{"name": "data", "in": "body", "required": true, "schema": {"$ref": "#/definitions/Appointment"}}], "responses": {"200": {"description": "", "schema": {"$ref": "#/definitions/Appointment"}}}, "tags": ["User Management"]}, "delete": {"operationId": "v1_appointments_delete", "summary": "User Management - Delete an object", "description": "API endpoints for user management and administration", "parameters": [], "responses": {"204": {"description": ""}}, "tags": ["User Management"]}, "parameters": [{"name": "id", "in": "path", "description": "A UUID string identifying this Appointment.", "required": true, "type": "string", "format": "uuid"}]}, "/v1/appointments/{id}/add_note/": {"post": {"operationId": "v1_appointments_add_note", "summary": "Add a note to an appointment", "description": "Add a note or comment to an existing appointment", "parameters": [{"name": "data", "in": "body", "required": true, "schema": {"$ref": "#/definitions/Appointment"}}, {"name": "pk", "in": "path", "description": "Appointment ID", "required": true, "type": "string"}], "responses": {"201": {"description": "Created - Note added successfully"}, "400": {"description": "Bad Request - Invalid data"}, "404": {"description": "Not Found - Appointment not found"}}, "tags": ["Bookings", "Appointments", "Notes"]}, "parameters": [{"name": "id", "in": "path", "description": "A UUID string identifying this Appointment.", "required": true, "type": "string", "format": "uuid"}]}, "/v1/appointments/{id}/cancel/": {"post": {"operationId": "v1_appointments_cancel", "summary": "Cancel an appointment", "description": "Cancel an existing appointment with an optional reason", "parameters": [{"name": "data", "in": "body", "required": true, "schema": {"$ref": "#/definitions/Appointment"}}, {"name": "pk", "in": "path", "description": "Appointment ID", "required": true, "type": "string"}], "responses": {"200": {"description": "Success - Appointment cancelled successfully"}, "400": {"description": "Bad Request - Invalid data or cannot cancel"}, "404": {"description": "Not Found - Appointment not found"}}, "tags": ["Bookings", "Appointments"]}, "parameters": [{"name": "id", "in": "path", "description": "A UUID string identifying this Appointment.", "required": true, "type": "string", "format": "uuid"}]}, "/v1/appointments/{id}/reschedule/": {"post": {"operationId": "v1_appointments_reschedule", "summary": "Reschedule an appointment", "description": "Change the date, time, or specialist for an existing appointment", "parameters": [{"name": "data", "in": "body", "required": true, "schema": {"$ref": "#/definitions/Appointment"}}, {"name": "pk", "in": "path", "description": "Appointment ID", "required": true, "type": "string"}], "responses": {"200": {"description": "Success - Appointment rescheduled successfully"}, "400": {"description": "Bad Request - Invalid data or cannot reschedule"}, "404": {"description": "Not Found - Appointment not found"}}, "tags": ["Bookings", "Appointments"]}, "parameters": [{"name": "id", "in": "path", "description": "A UUID string identifying this Appointment.", "required": true, "type": "string", "format": "uuid"}]}, "/v1/auth/admin/users/": {"get": {"operationId": "v1_auth_admin_users_list", "summary": "User Management - List all objects", "description": "API endpoints for user management and administration", "parameters": [], "responses": {"200": {"description": "", "schema": {"type": "array", "items": {"$ref": "#/definitions/User"}}}}, "tags": ["User Management"]}, "post": {"operationId": "v1_auth_admin_users_create", "summary": "User Management - Create a new object", "description": "API endpoints for user management and administration", "parameters": [{"name": "data", "in": "body", "required": true, "schema": {"$ref": "#/definitions/User"}}], "responses": {"201": {"description": "", "schema": {"$ref": "#/definitions/User"}}}, "tags": ["User Management"]}, "parameters": []}, "/v1/auth/admin/users/{id}/": {"get": {"operationId": "v1_auth_admin_users_read", "summary": "User Management - Get a specific object by ID", "description": "API endpoints for user management and administration", "parameters": [], "responses": {"200": {"description": "", "schema": {"$ref": "#/definitions/User"}}}, "tags": ["User Management"]}, "put": {"operationId": "v1_auth_admin_users_update", "summary": "User Management - Update an object (full update)", "description": "API endpoints for user management and administration", "parameters": [{"name": "data", "in": "body", "required": true, "schema": {"$ref": "#/definitions/User"}}], "responses": {"200": {"description": "", "schema": {"$ref": "#/definitions/User"}}}, "tags": ["User Management"]}, "patch": {"operationId": "v1_auth_admin_users_partial_update", "summary": "User Management - Update an object (partial update)", "description": "API endpoints for user management and administration", "parameters": [{"name": "data", "in": "body", "required": true, "schema": {"$ref": "#/definitions/User"}}], "responses": {"200": {"description": "", "schema": {"$ref": "#/definitions/User"}}}, "tags": ["User Management"]}, "delete": {"operationId": "v1_auth_admin_users_delete", "summary": "User Management - Delete an object", "description": "API endpoints for user management and administration", "parameters": [], "responses": {"204": {"description": ""}}, "tags": ["User Management"]}, "parameters": [{"name": "id", "in": "path", "description": "A UUID string identifying this User.", "required": true, "type": "string", "format": "uuid"}]}, "/v1/auth/admin/users/{id}/activate/": {"post": {"operationId": "v1_auth_admin_users_activate", "summary": "Activate User", "description": "Activate a user account", "parameters": [{"name": "data", "in": "body", "required": true, "schema": {"$ref": "#/definitions/User"}}], "responses": {"200": {"description": "User activated successfully"}, "404": {"description": "User not found"}, "403": {"description": "Permission denied"}}, "tags": ["v1"]}, "parameters": [{"name": "id", "in": "path", "description": "A UUID string identifying this User.", "required": true, "type": "string", "format": "uuid"}]}, "/v1/auth/admin/users/{id}/deactivate/": {"post": {"operationId": "v1_auth_admin_users_deactivate", "summary": "Deactivate User", "description": "Deactivate a user account", "parameters": [{"name": "data", "in": "body", "required": true, "schema": {"$ref": "#/definitions/User"}}], "responses": {"200": {"description": "User deactivated successfully"}, "404": {"description": "User not found"}, "403": {"description": "Permission denied"}}, "tags": ["v1"]}, "parameters": [{"name": "id", "in": "path", "description": "A UUID string identifying this User.", "required": true, "type": "string", "format": "uuid"}]}, "/v1/auth/change-language/": {"post": {"operationId": "v1_auth_change_language", "summary": "Change Language Preference", "description": "Update the user's language preference", "parameters": [{"name": "data", "in": "body", "required": true, "schema": {"$ref": "#/definitions/ChangeLanguage"}}], "responses": {"200": {"description": "Language preference updated successfully"}, "400": {"description": "Invalid language code"}, "401": {"description": "Authentication required"}}, "tags": ["v1"]}, "parameters": []}, "/v1/auth/profile/": {"get": {"operationId": "v1_auth_get_profile", "summary": "Get User Profile", "description": "Get the authenticated user's profile information", "parameters": [], "responses": {"200": {"description": "User profile retrieved successfully"}, "401": {"description": "Authentication required"}}, "tags": ["v1"]}, "parameters": []}, "/v1/auth/refresh-token/": {"post": {"operationId": "v1_auth_refresh_token", "summary": "Refresh Token", "description": "Refresh authentication tokens using a valid refresh token", "parameters": [{"name": "data", "in": "body", "required": true, "schema": {"$ref": "#/definitions/TokenRefresh"}}], "responses": {"200": {"description": "Tokens refreshed successfully"}, "401": {"description": "Invalid or expired refresh token"}}, "tags": ["v1"]}, "parameters": []}, "/v1/auth/request-otp/": {"post": {"operationId": "v1_auth_request_otp", "summary": "Request OTP", "description": "Request a one-time password to be sent to the provided phone number", "parameters": [{"name": "data", "in": "body", "required": true, "schema": {"$ref": "#/definitions/OTPRequest"}}], "responses": {"200": {"description": "OTP sent successfully"}, "400": {"description": "Invalid phone number format"}, "429": {"description": "Too many requests, please try again later"}}, "tags": ["v1"]}, "parameters": []}, "/v1/auth/token/refresh/": {"post": {"operationId": "v1_auth_token_refresh_token", "summary": "Refresh Token", "description": "Refresh authentication tokens using a valid refresh token", "parameters": [{"name": "data", "in": "body", "required": true, "schema": {"$ref": "#/definitions/TokenRefresh"}}], "responses": {"200": {"description": "Tokens refreshed successfully"}, "401": {"description": "Invalid or expired refresh token"}}, "tags": ["v1"]}, "parameters": []}, "/v1/auth/verify-otp/": {"post": {"operationId": "v1_auth_verify_otp", "summary": "Verify OTP", "description": "Verify OTP code and authenticate user", "parameters": [{"name": "data", "in": "body", "required": true, "schema": {"$ref": "#/definitions/OTPVerify"}}], "responses": {"200": {"description": "OTP verified successfully, returns authentication tokens"}, "400": {"description": "Invalid OTP code or phone number"}, "401": {"description": "OTP verification failed"}, "429": {"description": "Too many failed attempts, please try again later"}}, "tags": ["v1"]}, "parameters": []}, "/v1/availability/best-specialist/": {"get": {"operationId": "v1_availability_best-specialist_list", "description": "Get the best specialist for a specific time slot", "parameters": [{"name": "service_id", "in": "query", "description": "Service UUID", "required": true, "type": "string", "format": "uuid"}, {"name": "date", "in": "query", "description": "Date in YYYY-MM-DD format", "required": false, "type": "string", "format": "date"}, {"name": "time_slot", "in": "query", "description": "Time slot in HH:MM format", "required": true, "type": "string"}], "responses": {"200": {"description": "Best specialist information", "schema": {"type": "object", "properties": {"specialist_id": {"description": "Specialist UUID", "type": "string"}, "specialist_name": {"description": "Specialist name", "type": "string"}, "optimization_score": {"description": "Optimization score", "type": "number"}, "alternative_specialists": {"description": "Alternative specialist IDs", "type": "array", "items": {"type": "string"}}}}}, "400": {"description": "Bad request"}, "404": {"description": "No specialist available for this slot"}}, "tags": ["v1"]}, "parameters": []}, "/v1/availability/dynamic/": {"get": {"operationId": "v1_availability_dynamic_list", "description": "Get optimized time slots for a service using intelligent scheduling algorithm", "parameters": [{"name": "service_id", "in": "query", "description": "Service UUID", "required": true, "type": "string", "format": "uuid"}, {"name": "date", "in": "query", "description": "Date in YYYY-MM-DD format", "required": false, "type": "string", "format": "date"}, {"name": "specialist_id", "in": "query", "description": "Specialist UUID (optional)", "required": false, "type": "string", "format": "uuid"}, {"name": "personalize", "in": "query", "description": "Whether to personalize results based on customer preferences", "required": false, "type": "boolean", "default": true}], "responses": {"200": {"description": "List of optimized time slots", "schema": {"type": "array", "items": {"type": "object", "properties": {"start": {"description": "Start time (HH:MM)", "type": "string"}, "end": {"description": "End time (HH:MM)", "type": "string"}, "duration": {"description": "Duration in minutes", "type": "integer"}, "specialist_id": {"description": "Optimal specialist ID", "type": "string"}, "specialist_name": {"description": "Specialist name", "type": "string"}, "popularity": {"description": "Time slot popularity (0-1)", "type": "number"}, "optimization_score": {"description": "Overall optimization score", "type": "number"}}}}}, "400": {"description": "Bad request"}, "404": {"description": "Service not found"}}, "tags": ["v1"]}, "parameters": []}, "/v1/availability/popular-slots/": {"get": {"operationId": "v1_availability_popular-slots_list", "description": "Get the most popular time slots for a service", "parameters": [{"name": "service_id", "in": "query", "description": "Service UUID", "required": true, "type": "string", "format": "uuid"}, {"name": "date", "in": "query", "description": "Date in YYYY-MM-DD format", "required": false, "type": "string", "format": "date"}, {"name": "limit", "in": "query", "description": "Maximum number of slots to return", "required": false, "type": "integer", "default": 3}], "responses": {"200": {"description": "List of popular time slots", "schema": {"type": "array", "items": {"type": "object", "properties": {"start": {"description": "Start time (HH:MM)", "type": "string"}, "end": {"description": "End time (HH:MM)", "type": "string"}, "popularity": {"description": "Popularity score (0-1)", "type": "number"}}}}}, "400": {"description": "Bad request"}}, "tags": ["v1"]}, "parameters": []}, "/v1/availability/quiet-slots/": {"get": {"operationId": "v1_availability_quiet-slots_list", "description": "Get the least busy time slots for a service", "parameters": [{"name": "service_id", "in": "query", "description": "Service UUID", "required": true, "type": "string", "format": "uuid"}, {"name": "date", "in": "query", "description": "Date in YYYY-MM-DD format", "required": false, "type": "string", "format": "date"}, {"name": "limit", "in": "query", "description": "Maximum number of slots to return", "required": false, "type": "integer", "default": 3}], "responses": {"200": {"description": "List of quiet time slots", "schema": {"type": "array", "items": {"type": "object", "properties": {"start": {"description": "Start time (HH:MM)", "type": "string"}, "end": {"description": "End time (HH:MM)", "type": "string"}, "popularity": {"description": "Popularity score (0-1)", "type": "number"}}}}}, "400": {"description": "Bad request"}}, "tags": ["v1"]}, "parameters": []}, "/v1/availability/service/": {"get": {"operationId": "v1_availability_service_list", "description": "Get available time slots for a service on a specific date", "parameters": [{"name": "service_id", "in": "query", "description": "Service UUID", "required": true, "type": "string", "format": "uuid"}, {"name": "date", "in": "query", "description": "Date in YYYY-MM-DD format", "required": false, "type": "string", "format": "date"}], "responses": {"200": {"description": "List of available time slots", "schema": {"type": "array", "items": {"type": "object", "properties": {"start": {"description": "Start time (HH:MM)", "type": "string"}, "end": {"description": "End time (HH:MM)", "type": "string"}, "duration": {"description": "Duration in minutes", "type": "integer"}, "specialist_id": {"description": "Available specialist ID", "type": "string"}}}}}, "400": {"description": "Bad request"}, "404": {"description": "Service not found"}}, "tags": ["v1"]}, "parameters": []}, "/v1/bookings/appointments/": {"get": {"operationId": "v1_bookings_appointments_list", "summary": "User Management - List all objects", "description": "API endpoints for user management and administration", "parameters": [{"name": "status", "in": "query", "description": "status", "required": false, "type": "string"}, {"name": "payment_status", "in": "query", "description": "payment_status", "required": false, "type": "string"}, {"name": "start_date", "in": "query", "description": "start_date", "required": false, "type": "string"}, {"name": "end_date", "in": "query", "description": "end_date", "required": false, "type": "string"}, {"name": "customer", "in": "query", "description": "customer", "required": false, "type": "string"}, {"name": "shop", "in": "query", "description": "shop", "required": false, "type": "string"}, {"name": "service", "in": "query", "description": "service", "required": false, "type": "string"}, {"name": "specialist", "in": "query", "description": "specialist", "required": false, "type": "string"}, {"name": "today", "in": "query", "description": "today", "required": false, "type": "string"}, {"name": "upcoming", "in": "query", "description": "upcoming", "required": false, "type": "string"}, {"name": "past", "in": "query", "description": "past", "required": false, "type": "string"}, {"name": "this_week", "in": "query", "description": "this_week", "required": false, "type": "string"}, {"name": "this_month", "in": "query", "description": "this_month", "required": false, "type": "string"}, {"name": "statuses", "in": "query", "description": "statuses", "required": false, "type": "string", "enum": ["scheduled", "confirmed", "in_progress", "completed", "cancelled", "no_show"]}, {"name": "phone_number", "in": "query", "description": "phone_number", "required": false, "type": "string"}, {"name": "shop_name", "in": "query", "description": "shop_name", "required": false, "type": "string"}, {"name": "service_name", "in": "query", "description": "service_name", "required": false, "type": "string"}, {"name": "search", "in": "query", "description": "A search term.", "required": false, "type": "string"}, {"name": "ordering", "in": "query", "description": "Which field to use when ordering the results.", "required": false, "type": "string"}], "responses": {"200": {"description": "", "schema": {"type": "array", "items": {"$ref": "#/definitions/Appointment"}}}}, "tags": ["User Management"]}, "post": {"operationId": "v1_bookings_appointments_create", "summary": "Create an appointment", "description": "Book a new appointment with JSON schema validation", "parameters": [{"name": "data", "in": "body", "required": true, "schema": {"$ref": "#/definitions/Appointment"}}], "responses": {"201": {"description": "Created - Appointment booked successfully"}, "400": {"description": "Bad Request - Invalid data or validation error"}, "500": {"description": "Internal Server Error - Unexpected error"}}, "tags": ["Bookings", "Appointments"]}, "parameters": []}, "/v1/bookings/appointments/availability/": {"get": {"operationId": "v1_bookings_appointments_availability", "summary": "Check service availability", "description": "Get available time slots for a service on a specific date", "parameters": [{"name": "status", "in": "query", "description": "status", "required": false, "type": "string"}, {"name": "payment_status", "in": "query", "description": "payment_status", "required": false, "type": "string"}, {"name": "start_date", "in": "query", "description": "start_date", "required": false, "type": "string"}, {"name": "end_date", "in": "query", "description": "end_date", "required": false, "type": "string"}, {"name": "customer", "in": "query", "description": "customer", "required": false, "type": "string"}, {"name": "shop", "in": "query", "description": "shop", "required": false, "type": "string"}, {"name": "service", "in": "query", "description": "service", "required": false, "type": "string"}, {"name": "specialist", "in": "query", "description": "specialist", "required": false, "type": "string"}, {"name": "today", "in": "query", "description": "today", "required": false, "type": "string"}, {"name": "upcoming", "in": "query", "description": "upcoming", "required": false, "type": "string"}, {"name": "past", "in": "query", "description": "past", "required": false, "type": "string"}, {"name": "this_week", "in": "query", "description": "this_week", "required": false, "type": "string"}, {"name": "this_month", "in": "query", "description": "this_month", "required": false, "type": "string"}, {"name": "statuses", "in": "query", "description": "statuses", "required": false, "type": "string", "enum": ["scheduled", "confirmed", "in_progress", "completed", "cancelled", "no_show"]}, {"name": "phone_number", "in": "query", "description": "phone_number", "required": false, "type": "string"}, {"name": "shop_name", "in": "query", "description": "shop_name", "required": false, "type": "string"}, {"name": "service_name", "in": "query", "description": "service_name", "required": false, "type": "string"}, {"name": "search", "in": "query", "description": "A search term.", "required": false, "type": "string"}, {"name": "ordering", "in": "query", "description": "Which field to use when ordering the results.", "required": false, "type": "string"}, {"name": "service_id", "in": "query", "description": "Service ID to check availability for", "required": true, "type": "string"}, {"name": "date", "in": "query", "description": "Date to check availability for (YYYY-MM-DD)", "required": true, "type": "string"}], "responses": {"200": {"description": "Success - Returns available time slots"}, "400": {"description": "Bad Request - Missing parameters or invalid date"}}, "tags": ["Bookings", "Availability"]}, "parameters": []}, "/v1/bookings/appointments/recommend_specialist/": {"post": {"operationId": "v1_bookings_appointments_recommend_specialist", "summary": "Recommend a specialist", "description": "Get recommended specialist for a service and time slot based on preferences and availability", "parameters": [{"name": "data", "in": "body", "required": true, "schema": {"$ref": "#/definitions/Appointment"}}], "responses": {"200": {"description": "Success - Returns recommended specialist"}, "400": {"description": "Bad Request - Invalid data"}, "404": {"description": "Not Found - No specialists available"}}, "tags": ["Bookings", "Specialists", "Recommendations"]}, "parameters": []}, "/v1/bookings/appointments/specialists/": {"get": {"operationId": "v1_bookings_appointments_specialists", "summary": "Get available specialists", "description": "Find specialists available for a specific service, date and time range", "parameters": [{"name": "status", "in": "query", "description": "status", "required": false, "type": "string"}, {"name": "payment_status", "in": "query", "description": "payment_status", "required": false, "type": "string"}, {"name": "start_date", "in": "query", "description": "start_date", "required": false, "type": "string"}, {"name": "end_date", "in": "query", "description": "end_date", "required": false, "type": "string"}, {"name": "customer", "in": "query", "description": "customer", "required": false, "type": "string"}, {"name": "shop", "in": "query", "description": "shop", "required": false, "type": "string"}, {"name": "service", "in": "query", "description": "service", "required": false, "type": "string"}, {"name": "specialist", "in": "query", "description": "specialist", "required": false, "type": "string"}, {"name": "today", "in": "query", "description": "today", "required": false, "type": "string"}, {"name": "upcoming", "in": "query", "description": "upcoming", "required": false, "type": "string"}, {"name": "past", "in": "query", "description": "past", "required": false, "type": "string"}, {"name": "this_week", "in": "query", "description": "this_week", "required": false, "type": "string"}, {"name": "this_month", "in": "query", "description": "this_month", "required": false, "type": "string"}, {"name": "statuses", "in": "query", "description": "statuses", "required": false, "type": "string", "enum": ["scheduled", "confirmed", "in_progress", "completed", "cancelled", "no_show"]}, {"name": "phone_number", "in": "query", "description": "phone_number", "required": false, "type": "string"}, {"name": "shop_name", "in": "query", "description": "shop_name", "required": false, "type": "string"}, {"name": "service_name", "in": "query", "description": "service_name", "required": false, "type": "string"}, {"name": "search", "in": "query", "description": "A search term.", "required": false, "type": "string"}, {"name": "ordering", "in": "query", "description": "Which field to use when ordering the results.", "required": false, "type": "string"}, {"name": "service_id", "in": "query", "description": "Service ID to find specialists for", "required": true, "type": "string"}, {"name": "date", "in": "query", "description": "Date to check availability for (YYYY-MM-DD)", "required": true, "type": "string"}, {"name": "start_time", "in": "query", "description": "Start time (HH:MM)", "required": true, "type": "string"}, {"name": "end_time", "in": "query", "description": "End time (HH:MM)", "required": true, "type": "string"}], "responses": {"200": {"description": "Success - Returns list of available specialists"}, "400": {"description": "Bad Request - Missing parameters or invalid date/time"}}, "tags": ["Bookings", "Specialists", "Availability"]}, "parameters": []}, "/v1/bookings/appointments/{id}/": {"get": {"operationId": "v1_bookings_appointments_read", "summary": "User Management - Get a specific object by ID", "description": "API endpoints for user management and administration", "parameters": [], "responses": {"200": {"description": "", "schema": {"$ref": "#/definitions/Appointment"}}}, "tags": ["User Management"]}, "put": {"operationId": "v1_bookings_appointments_update", "summary": "User Management - Update an object (full update)", "description": "API endpoints for user management and administration", "parameters": [{"name": "data", "in": "body", "required": true, "schema": {"$ref": "#/definitions/Appointment"}}], "responses": {"200": {"description": "", "schema": {"$ref": "#/definitions/Appointment"}}}, "tags": ["User Management"]}, "patch": {"operationId": "v1_bookings_appointments_partial_update", "summary": "User Management - Update an object (partial update)", "description": "API endpoints for user management and administration", "parameters": [{"name": "data", "in": "body", "required": true, "schema": {"$ref": "#/definitions/Appointment"}}], "responses": {"200": {"description": "", "schema": {"$ref": "#/definitions/Appointment"}}}, "tags": ["User Management"]}, "delete": {"operationId": "v1_bookings_appointments_delete", "summary": "User Management - Delete an object", "description": "API endpoints for user management and administration", "parameters": [], "responses": {"204": {"description": ""}}, "tags": ["User Management"]}, "parameters": [{"name": "id", "in": "path", "description": "A UUID string identifying this Appointment.", "required": true, "type": "string", "format": "uuid"}]}, "/v1/bookings/appointments/{id}/add_note/": {"post": {"operationId": "v1_bookings_appointments_add_note", "summary": "Add a note to an appointment", "description": "Add a note or comment to an existing appointment", "parameters": [{"name": "data", "in": "body", "required": true, "schema": {"$ref": "#/definitions/Appointment"}}, {"name": "pk", "in": "path", "description": "Appointment ID", "required": true, "type": "string"}], "responses": {"201": {"description": "Created - Note added successfully"}, "400": {"description": "Bad Request - Invalid data"}, "404": {"description": "Not Found - Appointment not found"}}, "tags": ["Bookings", "Appointments", "Notes"]}, "parameters": [{"name": "id", "in": "path", "description": "A UUID string identifying this Appointment.", "required": true, "type": "string", "format": "uuid"}]}, "/v1/bookings/appointments/{id}/cancel/": {"post": {"operationId": "v1_bookings_appointments_cancel", "summary": "Cancel an appointment", "description": "Cancel an existing appointment with an optional reason", "parameters": [{"name": "data", "in": "body", "required": true, "schema": {"$ref": "#/definitions/Appointment"}}, {"name": "pk", "in": "path", "description": "Appointment ID", "required": true, "type": "string"}], "responses": {"200": {"description": "Success - Appointment cancelled successfully"}, "400": {"description": "Bad Request - Invalid data or cannot cancel"}, "404": {"description": "Not Found - Appointment not found"}}, "tags": ["Bookings", "Appointments"]}, "parameters": [{"name": "id", "in": "path", "description": "A UUID string identifying this Appointment.", "required": true, "type": "string", "format": "uuid"}]}, "/v1/bookings/appointments/{id}/reschedule/": {"post": {"operationId": "v1_bookings_appointments_reschedule", "summary": "Reschedule an appointment", "description": "Change the date, time, or specialist for an existing appointment", "parameters": [{"name": "data", "in": "body", "required": true, "schema": {"$ref": "#/definitions/Appointment"}}, {"name": "pk", "in": "path", "description": "Appointment ID", "required": true, "type": "string"}], "responses": {"200": {"description": "Success - Appointment rescheduled successfully"}, "400": {"description": "Bad Request - Invalid data or cannot reschedule"}, "404": {"description": "Not Found - Appointment not found"}}, "tags": ["Bookings", "Appointments"]}, "parameters": [{"name": "id", "in": "path", "description": "A UUID string identifying this Appointment.", "required": true, "type": "string", "format": "uuid"}]}, "/v1/bookings/multi-service-bookings/": {"get": {"operationId": "v1_bookings_multi-service-bookings_list", "summary": "User Management - List all objects", "description": "API endpoints for user management and administration", "parameters": [{"name": "customer", "in": "query", "description": "customer", "required": false, "type": "string"}, {"name": "shop", "in": "query", "description": "shop", "required": false, "type": "string"}, {"name": "payment_status", "in": "query", "description": "payment_status", "required": false, "type": "string"}, {"name": "start_date", "in": "query", "description": "start_date", "required": false, "type": "string"}, {"name": "end_date", "in": "query", "description": "end_date", "required": false, "type": "string"}, {"name": "ordering", "in": "query", "description": "Which field to use when ordering the results.", "required": false, "type": "string"}], "responses": {"200": {"description": "", "schema": {"type": "array", "items": {"$ref": "#/definitions/MultiServiceBooking"}}}}, "tags": ["User Management"]}, "post": {"operationId": "v1_bookings_multi-service-bookings_create", "summary": "Create a multi-service booking", "description": "Book multiple services in a single transaction", "parameters": [{"name": "data", "in": "body", "required": true, "schema": {"$ref": "#/definitions/MultiServiceBooking"}}], "responses": {"201": {"description": "Created - Multi-service booking created successfully"}, "400": {"description": "Bad Request - Invalid data"}}, "tags": ["Bookings", "Multi-Service"]}, "parameters": []}, "/v1/bookings/multi-service-bookings/suggest_sequence/": {"post": {"operationId": "v1_bookings_multi-service-bookings_suggest_sequence", "summary": "Suggest optimal sequence", "description": "Suggest optimal sequence for multiple services based on availability", "parameters": [{"name": "data", "in": "body", "required": true, "schema": {"$ref": "#/definitions/MultiServiceBooking"}}], "responses": {"200": {"description": "Success - Returns suggested booking sequence"}, "400": {"description": "Bad Request - Missing parameters or invalid data"}, "404": {"description": "Not Found - Could not find suitable slots"}}, "tags": ["Bookings", "Multi-Service", "Recommendations"]}, "parameters": []}, "/v1/bookings/multi-service-bookings/{id}/": {"get": {"operationId": "v1_bookings_multi-service-bookings_read", "summary": "User Management - Get a specific object by ID", "description": "API endpoints for user management and administration", "parameters": [], "responses": {"200": {"description": "", "schema": {"$ref": "#/definitions/MultiServiceBooking"}}}, "tags": ["User Management"]}, "parameters": [{"name": "id", "in": "path", "description": "A unique integer value identifying this Multi-Service Booking.", "required": true, "type": "integer"}]}, "/v1/categories/": {"get": {"operationId": "v1_categories_list", "summary": "User Management - List all objects", "description": "API endpoints for user management and administration", "parameters": [{"name": "page", "in": "query", "description": "A page number within the paginated result set.", "required": false, "type": "integer"}, {"name": "page_size", "in": "query", "description": "Number of results to return per page.", "required": false, "type": "integer"}], "responses": {"200": {"description": "", "schema": {"required": ["count", "results"], "type": "object", "properties": {"count": {"type": "integer"}, "next": {"type": "string", "format": "uri", "x-nullable": true}, "previous": {"type": "string", "format": "uri", "x-nullable": true}, "results": {"type": "array", "items": {"$ref": "#/definitions/CategoryList"}}}}}}, "tags": ["User Management"]}, "post": {"operationId": "v1_categories_create", "summary": "Create a new category using the CategoryService", "description": "Validates and creates a new category with the provided data.\nUses the service layer for business logic validation.", "parameters": [{"name": "data", "in": "body", "required": true, "schema": {"$ref": "#/definitions/CategoryCreateUpdate"}}], "responses": {"201": {"description": "", "schema": {"$ref": "#/definitions/CategoryCreateUpdate"}}}, "tags": ["v1"]}, "parameters": []}, "/v1/categories/check_integrity/": {"get": {"operationId": "v1_categories_check_integrity", "summary": "Check category hierarchy integrity", "description": "Validates the category hierarchy for issues like circular references,\norphaned categories, and other integrity problems.\n\nAdmin-only endpoint.", "parameters": [{"name": "page", "in": "query", "description": "A page number within the paginated result set.", "required": false, "type": "integer"}, {"name": "page_size", "in": "query", "description": "Number of results to return per page.", "required": false, "type": "integer"}], "responses": {"200": {"description": "", "schema": {"required": ["count", "results"], "type": "object", "properties": {"count": {"type": "integer"}, "next": {"type": "string", "format": "uri", "x-nullable": true}, "previous": {"type": "string", "format": "uri", "x-nullable": true}, "results": {"type": "array", "items": {"$ref": "#/definitions/Category"}}}}}}, "tags": ["v1"]}, "parameters": []}, "/v1/categories/featured/": {"get": {"operationId": "v1_categories_featured", "summary": "Get featured categories", "description": "Returns categories marked as featured, which are typically\nhighlighted in the UI and receive special promotion.\n\nQuery parameters:\n    limit: Maximum number of categories to return (default: 10)", "parameters": [{"name": "page", "in": "query", "description": "A page number within the paginated result set.", "required": false, "type": "integer"}, {"name": "page_size", "in": "query", "description": "Number of results to return per page.", "required": false, "type": "integer"}], "responses": {"200": {"description": "", "schema": {"required": ["count", "results"], "type": "object", "properties": {"count": {"type": "integer"}, "next": {"type": "string", "format": "uri", "x-nullable": true}, "previous": {"type": "string", "format": "uri", "x-nullable": true}, "results": {"type": "array", "items": {"$ref": "#/definitions/Category"}}}}}}, "tags": ["v1"]}, "parameters": []}, "/v1/categories/flat_hierarchy/": {"get": {"operationId": "v1_categories_flat_hierarchy", "summary": "Get a flattened representation of the category hierarchy", "description": "Returns the category tree in a flat list with indentation information,\nuseful for dropdown selects with proper visual hierarchy.\n\nQuery parameters:\n    parent: Filter by parent category ID (optional)\n    include_inactive: Include inactive categories (default: false)", "parameters": [{"name": "page", "in": "query", "description": "A page number within the paginated result set.", "required": false, "type": "integer"}, {"name": "page_size", "in": "query", "description": "Number of results to return per page.", "required": false, "type": "integer"}], "responses": {"200": {"description": "", "schema": {"required": ["count", "results"], "type": "object", "properties": {"count": {"type": "integer"}, "next": {"type": "string", "format": "uri", "x-nullable": true}, "previous": {"type": "string", "format": "uri", "x-nullable": true}, "results": {"type": "array", "items": {"$ref": "#/definitions/Category"}}}}}}, "tags": ["v1"]}, "parameters": []}, "/v1/categories/hierarchy/": {"get": {"operationId": "v1_categories_hierarchy", "summary": "Get complete category hierarchy as a nested structure", "description": "Returns the full category tree with parent-child relationships\nrepresented as nested objects. Useful for building category\nnavigation menus.\n\nQuery parameters:\n    include_inactive: Include inactive categories (default: false)", "parameters": [{"name": "page", "in": "query", "description": "A page number within the paginated result set.", "required": false, "type": "integer"}, {"name": "page_size", "in": "query", "description": "Number of results to return per page.", "required": false, "type": "integer"}], "responses": {"200": {"description": "", "schema": {"required": ["count", "results"], "type": "object", "properties": {"count": {"type": "integer"}, "next": {"type": "string", "format": "uri", "x-nullable": true}, "previous": {"type": "string", "format": "uri", "x-nullable": true}, "results": {"type": "array", "items": {"$ref": "#/definitions/CategoryHierarchy"}}}}}}, "tags": ["v1"]}, "parameters": []}, "/v1/categories/parent_categories/": {"get": {"operationId": "v1_categories_parent_categories", "summary": "Get all parent categories (categories without a parent)", "description": "Returns all top-level categories in the hierarchy, which can be used\nas starting points for navigating the category tree.", "parameters": [{"name": "page", "in": "query", "description": "A page number within the paginated result set.", "required": false, "type": "integer"}, {"name": "page_size", "in": "query", "description": "Number of results to return per page.", "required": false, "type": "integer"}], "responses": {"200": {"description": "", "schema": {"required": ["count", "results"], "type": "object", "properties": {"count": {"type": "integer"}, "next": {"type": "string", "format": "uri", "x-nullable": true}, "previous": {"type": "string", "format": "uri", "x-nullable": true}, "results": {"type": "array", "items": {"$ref": "#/definitions/Category"}}}}}}, "tags": ["v1"]}, "parameters": []}, "/v1/categories/popular/": {"get": {"operationId": "v1_categories_popular", "summary": "Get popular categories based on service count and interactions", "description": "Returns categories that have the most services and user interactions,\nwhich are useful for highlighting trending categories.\n\nQuery parameters:\n    limit: Maximum number of categories to return (default: 10)", "parameters": [{"name": "page", "in": "query", "description": "A page number within the paginated result set.", "required": false, "type": "integer"}, {"name": "page_size", "in": "query", "description": "Number of results to return per page.", "required": false, "type": "integer"}], "responses": {"200": {"description": "", "schema": {"required": ["count", "results"], "type": "object", "properties": {"count": {"type": "integer"}, "next": {"type": "string", "format": "uri", "x-nullable": true}, "previous": {"type": "string", "format": "uri", "x-nullable": true}, "results": {"type": "array", "items": {"$ref": "#/definitions/Category"}}}}}}, "tags": ["v1"]}, "parameters": []}, "/v1/categories/reorder/": {"post": {"operationId": "v1_categories_reorder", "summary": "Reorder categories by updating position values", "description": "Updates the position values of multiple categories at once,\nallowing for bulk reordering of categories.\n\nRequest body:\n    [\n        {\"id\": \"category_id\", \"position\": integer},\n        {\"id\": \"category_id\", \"position\": integer},\n        ...\n    ]", "parameters": [{"name": "data", "in": "body", "required": true, "schema": {"$ref": "#/definitions/Category"}}], "responses": {"201": {"description": "", "schema": {"$ref": "#/definitions/Category"}}}, "tags": ["v1"]}, "parameters": []}, "/v1/categories/statistics/": {"get": {"operationId": "v1_categories_statistics", "summary": "Get statistics about the category structure", "description": "Returns aggregate statistics about the category structure,\nincluding counts of categories at different levels, average\nchildren per parent, etc.\n\nAdmin-only endpoint.", "parameters": [{"name": "page", "in": "query", "description": "A page number within the paginated result set.", "required": false, "type": "integer"}, {"name": "page_size", "in": "query", "description": "Number of results to return per page.", "required": false, "type": "integer"}], "responses": {"200": {"description": "", "schema": {"required": ["count", "results"], "type": "object", "properties": {"count": {"type": "integer"}, "next": {"type": "string", "format": "uri", "x-nullable": true}, "previous": {"type": "string", "format": "uri", "x-nullable": true}, "results": {"type": "array", "items": {"$ref": "#/definitions/Category"}}}}}}, "tags": ["v1"]}, "parameters": []}, "/v1/categories/{id}/": {"get": {"operationId": "v1_categories_read", "summary": "User Management - Get a specific object by ID", "description": "API endpoints for user management and administration", "parameters": [], "responses": {"200": {"description": "", "schema": {"$ref": "#/definitions/Category"}}}, "tags": ["User Management"]}, "put": {"operationId": "v1_categories_update", "summary": "Update a category using the CategoryService", "description": "Validates and updates an existing category with the provided data.\nUses the service layer for business logic validation.", "parameters": [{"name": "data", "in": "body", "required": true, "schema": {"$ref": "#/definitions/CategoryCreateUpdate"}}], "responses": {"200": {"description": "", "schema": {"$ref": "#/definitions/CategoryCreateUpdate"}}}, "tags": ["v1"]}, "patch": {"operationId": "v1_categories_partial_update", "summary": "User Management - Update an object (partial update)", "description": "API endpoints for user management and administration", "parameters": [{"name": "data", "in": "body", "required": true, "schema": {"$ref": "#/definitions/CategoryCreateUpdate"}}], "responses": {"200": {"description": "", "schema": {"$ref": "#/definitions/CategoryCreateUpdate"}}}, "tags": ["User Management"]}, "delete": {"operationId": "v1_categories_delete", "summary": "Delete a category using the CategoryService", "description": "Deletes a category and handles any cleanup required,\nsuch as reassigning child categories.", "parameters": [], "responses": {"204": {"description": ""}}, "tags": ["v1"]}, "parameters": [{"name": "id", "in": "path", "description": "A UUID string identifying this Category.", "required": true, "type": "string", "format": "uuid"}]}, "/v1/categories/{id}/breadcrumbs/": {"get": {"operationId": "v1_categories_breadcrumbs", "summary": "Get breadcrumb navigation data for a category", "description": "Returns the path from the root category to the specified category,\nuseful for creating breadcrumb navigation in the UI.", "parameters": [], "responses": {"200": {"description": "", "schema": {"$ref": "#/definitions/Category"}}}, "tags": ["v1"]}, "parameters": [{"name": "id", "in": "path", "description": "A UUID string identifying this Category.", "required": true, "type": "string", "format": "uuid"}]}, "/v1/categories/{id}/children/": {"get": {"operationId": "v1_categories_children", "summary": "Get all child categories for a parent category", "description": "Returns all immediate children of the specified category.", "parameters": [], "responses": {"200": {"description": "", "schema": {"$ref": "#/definitions/Category"}}}, "tags": ["v1"]}, "parameters": [{"name": "id", "in": "path", "description": "A UUID string identifying this Category.", "required": true, "type": "string", "format": "uuid"}]}, "/v1/categories/{id}/move/": {"post": {"operationId": "v1_categories_move", "summary": "Move a category to a new parent", "description": "Changes the parent of a category, effectively moving it in the hierarchy.\nValidates that the move won't create circular references.\n\nRequest body:\n    {\n        \"parent\": \"parent_id\" or null (for root level)\n    }", "parameters": [{"name": "data", "in": "body", "required": true, "schema": {"$ref": "#/definitions/Category"}}], "responses": {"201": {"description": "", "schema": {"$ref": "#/definitions/Category"}}}, "tags": ["v1"]}, "parameters": [{"name": "id", "in": "path", "description": "A UUID string identifying this Category.", "required": true, "type": "string", "format": "uuid"}]}, "/v1/categories/{id}/related/": {"get": {"operationId": "v1_categories_related", "summary": "Get categories related to the current category", "description": "Returns categories that have a relationship with the specified category,\noptionally filtered by relationship type.\n\nQuery parameters:\n    type: Relationship type (optional)\n    limit: Maximum number of categories to return (default: 5)", "parameters": [], "responses": {"200": {"description": "", "schema": {"$ref": "#/definitions/Category"}}}, "tags": ["v1"]}, "parameters": [{"name": "id", "in": "path", "description": "A UUID string identifying this Category.", "required": true, "type": "string", "format": "uuid"}]}, "/v1/chat/conversations/": {"get": {"operationId": "v1_chat_conversations_list", "summary": "User Management - List all objects", "description": "API endpoints for user management and administration", "parameters": [{"name": "ordering", "in": "query", "description": "Which field to use when ordering the results.", "required": false, "type": "string"}], "responses": {"200": {"description": "", "schema": {"type": "array", "items": {"$ref": "#/definitions/Conversation"}}}}, "tags": ["User Management"]}, "post": {"operationId": "v1_chat_conversations_create", "summary": "User Management - Create a new object", "description": "API endpoints for user management and administration", "parameters": [{"name": "data", "in": "body", "required": true, "schema": {"$ref": "#/definitions/CreateConversation"}}], "responses": {"201": {"description": "", "schema": {"$ref": "#/definitions/CreateConversation"}}}, "tags": ["User Management"]}, "parameters": []}, "/v1/chat/conversations/unread_count/": {"get": {"operationId": "v1_chat_conversations_unread_count", "summary": "Get total unread message count across all conversations", "description": "Returns the total number of unread messages for the current user\nacross all their conversations.", "parameters": [{"name": "ordering", "in": "query", "description": "Which field to use when ordering the results.", "required": false, "type": "string"}], "responses": {"200": {"description": "", "schema": {"type": "array", "items": {"$ref": "#/definitions/Conversation"}}}}, "tags": ["v1"]}, "parameters": []}, "/v1/chat/conversations/{id}/": {"get": {"operationId": "v1_chat_conversations_read", "summary": "User Management - Get a specific object by ID", "description": "API endpoints for user management and administration", "parameters": [], "responses": {"200": {"description": "", "schema": {"$ref": "#/definitions/Conversation"}}}, "tags": ["User Management"]}, "put": {"operationId": "v1_chat_conversations_update", "summary": "User Management - Update an object (full update)", "description": "API endpoints for user management and administration", "parameters": [{"name": "data", "in": "body", "required": true, "schema": {"$ref": "#/definitions/Conversation"}}], "responses": {"200": {"description": "", "schema": {"$ref": "#/definitions/Conversation"}}}, "tags": ["User Management"]}, "patch": {"operationId": "v1_chat_conversations_partial_update", "summary": "User Management - Update an object (partial update)", "description": "API endpoints for user management and administration", "parameters": [{"name": "data", "in": "body", "required": true, "schema": {"$ref": "#/definitions/Conversation"}}], "responses": {"200": {"description": "", "schema": {"$ref": "#/definitions/Conversation"}}}, "tags": ["User Management"]}, "delete": {"operationId": "v1_chat_conversations_delete", "summary": "User Management - Delete an object", "description": "API endpoints for user management and administration", "parameters": [], "responses": {"204": {"description": ""}}, "tags": ["User Management"]}, "parameters": [{"name": "id", "in": "path", "description": "A UUID string identifying this Conversation.", "required": true, "type": "string", "format": "uuid"}]}, "/v1/chat/conversations/{id}/mark_read/": {"post": {"operationId": "v1_chat_conversations_mark_read", "summary": "Mark all messages in conversation as read", "description": "Marks all unread messages in the conversation as read for the current user.\nFor customers, this marks shop messages as read.\nFor employees, this marks customer messages as read.", "parameters": [{"name": "data", "in": "body", "required": true, "schema": {"$ref": "#/definitions/Conversation"}}], "responses": {"201": {"description": "", "schema": {"$ref": "#/definitions/Conversation"}}}, "tags": ["v1"]}, "parameters": [{"name": "id", "in": "path", "description": "A UUID string identifying this Conversation.", "required": true, "type": "string", "format": "uuid"}]}, "/v1/chat/conversations/{id}/messages/": {"get": {"operationId": "v1_chat_conversations_messages", "summary": "Get messages for a conversation", "description": "Retrieves messages for the specified conversation with pagination.\nAutomatically marks messages as read if the current user is not the sender.\nUpdates user presence and provides suggested responses for employees.\n\nQuery parameters:\n    page (int): Page number for pagination (default: 1)\n    page_size (int): Number of messages per page (default: 20)", "parameters": [], "responses": {"200": {"description": "", "schema": {"$ref": "#/definitions/Conversation"}}}, "tags": ["v1"]}, "parameters": [{"name": "id", "in": "path", "description": "A UUID string identifying this Conversation.", "required": true, "type": "string", "format": "uuid"}]}, "/v1/chat/conversations/{id}/presence/": {"get": {"operationId": "v1_chat_conversations_presence", "summary": "Get presence information for all users in a conversation", "description": "Returns online status and last seen time for all users in the conversation.", "parameters": [], "responses": {"200": {"description": "", "schema": {"$ref": "#/definitions/Conversation"}}}, "tags": ["v1"]}, "parameters": [{"name": "id", "in": "path", "description": "A UUID string identifying this Conversation.", "required": true, "type": "string", "format": "uuid"}]}, "/v1/chat/conversations/{id}/send_message/": {"post": {"operationId": "v1_chat_conversations_send_message", "summary": "Send a message in a conversation", "description": "Creates a new message in the specified conversation.\n\nRequest body:\n    {\n        \"content\": \"Message text\", (required)\n        \"message_type\": \"text|image|file\", (optional, default: \"text\")\n        \"media_url\": \"https://example.com/file.jpg\", (optional, for non-text messages)\n        \"employee_id\": \"uuid\" (optional, for shop messages from specific employee)\n    }", "parameters": [{"name": "data", "in": "body", "required": true, "schema": {"$ref": "#/definitions/Conversation"}}], "responses": {"201": {"description": "", "schema": {"$ref": "#/definitions/Conversation"}}}, "tags": ["v1"]}, "parameters": [{"name": "id", "in": "path", "description": "A UUID string identifying this Conversation.", "required": true, "type": "string", "format": "uuid"}]}, "/v1/chat/conversations/{id}/typing_status/": {"post": {"operationId": "v1_chat_conversations_typing_status", "summary": "Update typing status for user", "description": "Sets the typing status of the current user in the conversation.\nThis is used to show typing indicators to other participants.\n\nRequest body:\n    {\n        \"is_typing\": boolean (default: false)\n    }", "parameters": [{"name": "data", "in": "body", "required": true, "schema": {"$ref": "#/definitions/Conversation"}}], "responses": {"201": {"description": "", "schema": {"$ref": "#/definitions/Conversation"}}}, "tags": ["v1"]}, "parameters": [{"name": "id", "in": "path", "description": "A UUID string identifying this Conversation.", "required": true, "type": "string", "format": "uuid"}]}, "/v1/chat/messages/{id}/": {"get": {"operationId": "v1_chat_messages_read", "summary": "User Management - Get a specific object by ID", "description": "API endpoints for user management and administration", "parameters": [], "responses": {"200": {"description": "", "schema": {"$ref": "#/definitions/Message"}}}, "tags": ["User Management"]}, "parameters": [{"name": "id", "in": "path", "description": "A UUID string identifying this Message.", "required": true, "type": "string", "format": "uuid"}]}, "/v1/companies/": {"get": {"operationId": "v1_companies_list", "summary": "User Management - List all objects", "description": "API endpoints for user management and administration", "parameters": [{"name": "search", "in": "query", "description": "A search term.", "required": false, "type": "string"}, {"name": "ordering", "in": "query", "description": "Which field to use when ordering the results.", "required": false, "type": "string"}], "responses": {"200": {"description": "", "schema": {"type": "array", "items": {"$ref": "#/definitions/Company"}}}}, "tags": ["User Management"]}, "post": {"operationId": "v1_companies_create", "summary": "User Management - Create a new object", "description": "API endpoints for user management and administration", "parameters": [{"name": "data", "in": "body", "required": true, "schema": {"$ref": "#/definitions/Company"}}], "responses": {"201": {"description": "", "schema": {"$ref": "#/definitions/Company"}}}, "tags": ["User Management"]}, "parameters": []}, "/v1/companies/{id}/": {"get": {"operationId": "v1_companies_read", "summary": "User Management - Get a specific object by ID", "description": "API endpoints for user management and administration", "parameters": [], "responses": {"200": {"description": "", "schema": {"$ref": "#/definitions/Company"}}}, "tags": ["User Management"]}, "put": {"operationId": "v1_companies_update", "summary": "User Management - Update an object (full update)", "description": "API endpoints for user management and administration", "parameters": [{"name": "data", "in": "body", "required": true, "schema": {"$ref": "#/definitions/Company"}}], "responses": {"200": {"description": "", "schema": {"$ref": "#/definitions/Company"}}}, "tags": ["User Management"]}, "patch": {"operationId": "v1_companies_partial_update", "summary": "User Management - Update an object (partial update)", "description": "API endpoints for user management and administration", "parameters": [{"name": "data", "in": "body", "required": true, "schema": {"$ref": "#/definitions/Company"}}], "responses": {"200": {"description": "", "schema": {"$ref": "#/definitions/Company"}}}, "tags": ["User Management"]}, "delete": {"operationId": "v1_companies_delete", "summary": "User Management - Delete an object", "description": "API endpoints for user management and administration", "parameters": [], "responses": {"204": {"description": ""}}, "tags": ["User Management"]}, "parameters": [{"name": "id", "in": "path", "description": "A UUID string identifying this Company.", "required": true, "type": "string", "format": "uuid"}]}, "/v1/companies/{id}/settings/": {"patch": {"operationId": "v1_companies_settings", "summary": "Update company settings.", "description": "Updates various configuration settings for the company such as:\n- Notification preferences\n- Branding settings\n- Default configurations\n\nRequest Body:\n    JSON object with settings fields to update", "parameters": [{"name": "data", "in": "body", "required": true, "schema": {"$ref": "#/definitions/Company"}}], "responses": {"200": {"description": "", "schema": {"$ref": "#/definitions/Company"}}}, "tags": ["v1"]}, "parameters": [{"name": "id", "in": "path", "description": "A UUID string identifying this Company.", "required": true, "type": "string", "format": "uuid"}]}, "/v1/companies/{id}/statistics/": {"get": {"operationId": "v1_companies_statistics", "summary": "Get company statistics.", "description": "Returns aggregated statistics about the company, such as:\n- Total shops count\n- Total revenue\n- Customer counts\n- Booking metrics\n- Growth trends", "parameters": [], "responses": {"200": {"description": "", "schema": {"$ref": "#/definitions/Company"}}}, "tags": ["v1"]}, "parameters": [{"name": "id", "in": "path", "description": "A UUID string identifying this Company.", "required": true, "type": "string", "format": "uuid"}]}, "/v1/companies/{id}/subscription_status/": {"get": {"operationId": "v1_companies_subscription_status", "summary": "Get detailed subscription status.", "description": "Returns detailed information about the company's subscription including:\n- Current status\n- Plan details\n- Expiration date\n- Payment history", "parameters": [], "responses": {"200": {"description": "", "schema": {"$ref": "#/definitions/Company"}}}, "tags": ["v1"]}, "parameters": [{"name": "id", "in": "path", "description": "A UUID string identifying this Company.", "required": true, "type": "string", "format": "uuid"}]}, "/v1/companies/{id}/verify/": {"patch": {"operationId": "v1_companies_verify", "summary": "Verify a company (Queue Me admin only).", "description": "Changes a company's verification status to verified.\nThis is typically done after reviewing company documents and information.", "parameters": [{"name": "data", "in": "body", "required": true, "schema": {"$ref": "#/definitions/Company"}}], "responses": {"200": {"description": "", "schema": {"$ref": "#/definitions/Company"}}}, "tags": ["v1"]}, "parameters": [{"name": "id", "in": "path", "description": "A UUID string identifying this Company.", "required": true, "type": "string", "format": "uuid"}]}, "/v1/conversations/": {"get": {"operationId": "v1_conversations_list", "summary": "User Management - List all objects", "description": "API endpoints for user management and administration", "parameters": [{"name": "ordering", "in": "query", "description": "Which field to use when ordering the results.", "required": false, "type": "string"}], "responses": {"200": {"description": "", "schema": {"type": "array", "items": {"$ref": "#/definitions/Conversation"}}}}, "tags": ["User Management"]}, "post": {"operationId": "v1_conversations_create", "summary": "User Management - Create a new object", "description": "API endpoints for user management and administration", "parameters": [{"name": "data", "in": "body", "required": true, "schema": {"$ref": "#/definitions/CreateConversation"}}], "responses": {"201": {"description": "", "schema": {"$ref": "#/definitions/CreateConversation"}}}, "tags": ["User Management"]}, "parameters": []}, "/v1/conversations/unread_count/": {"get": {"operationId": "v1_conversations_unread_count", "summary": "Get total unread message count across all conversations", "description": "Returns the total number of unread messages for the current user\nacross all their conversations.", "parameters": [{"name": "ordering", "in": "query", "description": "Which field to use when ordering the results.", "required": false, "type": "string"}], "responses": {"200": {"description": "", "schema": {"type": "array", "items": {"$ref": "#/definitions/Conversation"}}}}, "tags": ["v1"]}, "parameters": []}, "/v1/conversations/{id}/": {"get": {"operationId": "v1_conversations_read", "summary": "User Management - Get a specific object by ID", "description": "API endpoints for user management and administration", "parameters": [], "responses": {"200": {"description": "", "schema": {"$ref": "#/definitions/Conversation"}}}, "tags": ["User Management"]}, "put": {"operationId": "v1_conversations_update", "summary": "User Management - Update an object (full update)", "description": "API endpoints for user management and administration", "parameters": [{"name": "data", "in": "body", "required": true, "schema": {"$ref": "#/definitions/Conversation"}}], "responses": {"200": {"description": "", "schema": {"$ref": "#/definitions/Conversation"}}}, "tags": ["User Management"]}, "patch": {"operationId": "v1_conversations_partial_update", "summary": "User Management - Update an object (partial update)", "descri
[...]
